<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894983055235-7qk233houg6qth7fe5mafv92eig71t3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894983055235-7qk233houg6qth7fe5mafv92eig71t3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBNh4n5LArvrpmgXNPpnKKCMecIaly8ozI</string>
	<key>GCM_SENDER_ID</key>
	<string>894983055235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snsj</string>
	<key>PROJECT_ID</key>
	<string>sns-j-9a3f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sns-j-9a3f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894983055235:ios:8a05ca09fe74c258f678b6</string>
</dict>
</plist>